.Auth{
	display: flex;
	justify-content: center;
	padding-top: 100px;
	flex-grow: 1;
	width: 100%;


}

.Auth > div {
	width: 100%;
	max-width: 400px;
	
	
	padding: 0 20px;
}

.Auth h1 {
	text-align: center;
}
.AuthForm{
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
	padding: 15px;
	border-radius: 5px;
	background: linear-gradient(to left, #a90b22, #3c0124);
	font-size: 18px;


}

.AuthForm input{
	display: block;
	width: 90%;
	margin-top: 5px;
	border: 2px solid #fff;
	border-radius: 5px;

}

.AuthForm Button{
	margin-top: 15px;
}


.AuthForm .control{
	cursor: pointer;
	display: flex;
	
	margin-top: 5px;
	margin-left: 5px;
}
.AuthForm .pass{
	display: flex;
	justify-content: center;
}